body {
    font-family: Helvetica, san-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.slider {
    position:relative;
    width:100%
}

.slider .slides {
    background-color: transparent;
    margin:0;
    
}

.slider .slides li {
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width:100%;
    height:inherit;
    overflow:hidden
}

.slider .slides li img {
   height:100%;
    width:100%;
    background-size:cover;
    background-position:center;
}

.contentHead {
	font-size: 35px;
	font-family: Helvetica, san-serif;
	
}

